<!doctype html>
<html>
<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function cb(symbol) {
            $.getJSON({
                url: "/stocks",
                data: {'symbol': symbol},
                success: function (result) {
                    Plotly.react('chart', result, {});;
                }
            });
        }
    </script>
</head>

<body style="font-family:arial, sans-serif">
    <h1>Statistical Stock Valuation Model</h1>
    <h2>Input Ticker</h2>
    <input type="text" id="fname" name="fname" onchange="cb(this.value)">
    <div id="chart" class="chart"></div>
    <div id="png_chart"></div>
</body>

<script>
    cb("MSFT");
</script>
</html>