<!DOCTYPE html>
<html lang="en">
<body>
    <h1>DCF Monte Carlo Simulation</h1>
    <p>Enter the Ticker Symbol:</p>
    <form action="." method="POST">
        <input type="text" name="userinput">
        <input type="submit" name="my-form" value="Send">
        <br>
        <br>
        <output> <img src="data:image/png;base64, {{ http://127.0.0.1:5000/plots/DCF/DCF_Histograms }}" width="1000" height="500" alt="graph"> </output>
    </form>
</body>
</html> 

<h1>Here is a form</h1>

<form method="post">
    Enter your name: <input name="name"> <br><br>

    Enter your email: <input name="email"> <br><br>

    <button type="submit">submit</button>
</form>
