<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title></title>

    <script>
        async function callback() {
            let Stock = document.getElementById('stock').value;
            let Growth_Rate = document.getElementById('growth_rate').value;
            let Terminal_Growth = document.getElementById('terminal_growth').value;
            let Iterations = document.getElementById('iterations').value;
            let Risk_Free_Rate = document.getElementById('risk_free_rate').value;
            let Beta = document.getElementById('beta').value;
            let Market_Rate_Return = document.getElementById('market_rate_return').value;

            let response = await fetch("/callback/getStock?data=" + Stock + "&growth_rate=" + Growth_Rate + "&terminal_growth=" + Terminal_Growth + "&iterations=" + Iterations + "&risk_free_rate=" + Risk_Free_Rate + "&beta=" + Beta + "&market_rate_return=" + Market_Rate_Return);
            if (response.ok) {
                let chartJson = await response.json();
                if (response.ok) {
                    Plotly.newPlot('chart', chartJson, {});
                } else {
                    alert("HTTP-Error: " + response.status + "on getInfo");
                }
            } else {
                alert("HTTP-Error: " + response.status + "on getStock");
            }
        }
        function info(json) {
            let name = document.getElementById('companyName');
            name.innerHTML = json.shortName;
            name = document.getElementById('symbol');
            name.innerHTML = json.symbol;
            name = document.getElementById('dayHigh');
            name.innerHTML = json.dayHigh;
            name = document.getElementById('dayLow');
            name.innerHTML = json.dayLow;
        }
    </script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col text-light bg-dark" style="margin:20px 0px 20px 0px">
                <h1 style="padding:20px 0px 20px 0px">Statistical Stock Valuation Model</h1>
            </div>

        </div>
        <div class="row">
            <div class="col"><b>Stock</b></div>
            <div class="col">
                <select id="stock" class="form-select" aria-label="Select">
                    <option selected value="MSFT">Microsoft</option>
                    <option value="META">Facebook</option>
                    <option value=AAPL>Apple</option>
                    <option value="GOOGL">Google</option>
                </select>
            </div>
            <div class="col"><b>Growth Rate</b></div>

            <div class="col">
                <select id="growth_rate" class="form-select" aria-label="Select">
                    <option selected value="0.1">10%</option>
                    <option value="0.02">2%</option>
                    <option value="0.04">4%</option>
                    <option value="0.06">6%</option>
                    <option value="0.08">8%</option>
                    <option value="0.12">12%</option>
                    <option value="0.15">15%</option>
                    <option value="0.20">20%</option>
                    <option value="0.30">30%</option>
                    <option value="0.50">50%</option>
                    <option value="1.0">100%</option>
                </select>
            </div>
            <div class="col"><b>Terminal Growth</b></div>

            <div class="col">
                <select id="terminal_growth_rate" class="form-select" aria-label="Select">
                    <option selected value="0.1">10%</option>
                    <option value="0.02">2%</option>
                    <option value="0.04">4%</option>
                    <option value="0.06">6%</option>
                    <option value="0.08">8%</option>
                    <option value="0.12">12%</option>
                    <option value="0.15">15%</option>
                    <option value="0.20">20%</option>
                    <option value="0.30">30%</option>
                    <option value="0.50">50%</option>
                    <option value="1.0">100%</option>
                </select>
            </div>
            <div class="col"><b>Iterations</b></div>

            <div class="col">
                <select id="iterations" class="form-select" aria-label="Select">
                    <option selected value="10000">10000</option>
                    <option value="1000">1000</option>
                    <option value="5000">5000</option>
                    <option value="20000">20000</option>
                </select>
            </div>
            <div class="col"><b>Risk Free Rate</b></div>

            <div class="col">
                <select id="risk_free_rate" class="form-select" aria-label="Select">
                    <option selected value="0.035">3.5%</option>
                    <option value="0.001">0.1%</option>
                    <option value="0.0025">0.25%</option>
                    <option value="0.005">0.50%</option>
                    <option value="0.01">1%</option>
                    <option value="0.015">1.5%</option>
                    <option value="0.02">2%</option>
                    <option value="0.025">2.5%</option>
                    <option value="0.03">3%</option>
                    <option value="0.04">4%</option>
                    <option value="0.045">4.5%</option>
                    <option value="0.005">5%</option>
                </select>
            </div>
            <div class="col"><b>Beta</b></div>

            <div class="col">
                <select id="beta" class="form-select" aria-label="Select">
                    <option selected value="0.25">0.25</option>
                    <option value="0.50">0.50</option>
                    <option value="0.75">0.75</option>
                    <option value="1.00">1.00</option>
                    <option value="1.25">1.25</option>
                    <option value="1.50">1.50</option>
                    <option value="1.75">1.75</option>
                    <option value="2.00">2.00</option>
                    <option value="2.50">2.50</option>
                </select>
            </div>
            <div class="col"><b>Market Rate</b></div>

            <div class="col">
                <select id="market_rate_return" class="form-select" aria-label="Select">
                    <option selected value="0.075">7.5%</option>
                    <option value="0.00">0%</option>
                    <option value="-0.002">-2%</option>
                    <option value="-0.004">-4%</option>
                    <option value="-0.006">-6%</option>
                    <option value="-0.008">-8%</option>
                    <option value="-0.009">-9%</option>
                    <option value="-0.010">-10%</option>
                    <option value="-0.012">-12%</option>
                    <option value="-0.015">-15%</option>
                    <option value="-0.020">-20%</option>
                    <option value="0.002">2%</option>
                    <option value="0.004">4%</option>
                    <option value="0.006">6%</option>
                    <option value="0.008">8%</option>
                    <option value="0.009">9%</option>
                    <option value="0.010">10%</option>
                    <option value="0.012">12%</option>
                    <option value="0.015">15%</option>
                    <option value="0.020">20%</option>
                    <option value="0.025">25%</option>
                    <option value="0.030">30%</option>

                </select>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary" onclick="callback()">Stock valuation</button>
            </div>
            <div class="w-100" style="padding:10px;text-align:right;font-size: small;"><i>Fair stock 
                price modelled using a DCF model</i></div>
            
            <div class="col-3"><p><b>Stock Info</b></p>
                <p>Symbol: <span id="symbol">N/A</span></p>
                <p>Day High: <span id="dayHigh">N/A</span></p>
                <p>Day Low: <span id="dayLow">N/A</span></p>  
                
            </div>
            <div class="col-9">
                <h2 id="companyName"></h2>
                <div id="chart" class="chart" style="height: 300px;border: 1px solid; 
                    box-shadow: 5px 5px 5px #888888;">
                </div>
            </div>
        </div>

    </div>


    <script>callback();</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</body>

</html>